table.recro-grid td > div.cell-content {
    width: 40px;
}

div.spinner-container {
    display: inline-block;
}

div.spinner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

div.rgf-base-tooltip .tooltip-inner {
    width: fit-content;
    max-width: 400px;
}

div.rgf-cell-tooltip {
    max-width: 50%;
}

    div.rgf-cell-tooltip .tooltip-inner {
        width: fit-content;
        max-width: 800px;
    }
