table.recro-grid td > div.cell-content {
    width: 40px;
}

div.spinner-container {
    display: inline-block;
}

div.spinner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.rgf-bs-icon-sm {
    padding: 0px 2px 0px 2px;
}

    .rgf-bs-icon-sm.btn:focus,
    .rgf-bs-icon-sm.btn:active,
    .rgf-bs-icon-sm.btn:focus:active {
        outline: none;
        box-shadow: none;
    }

.rgf-maxw-50 {
    max-width: 50%;
}

.rgf-tooltip-400 .tooltip-inner {
    width: fit-content;
    max-width: 400px;
}

.rgf-tooltip-600 .tooltip-inner {
    width: fit-content;
    max-width: 600px;
}

.rgf-tooltip-800 .tooltip-inner {
    width: fit-content;
    max-width: 800px;
}

div.rgf-tree-tooltip .rgf-tooltip-title {
    min-width: 150px;
    padding: 0px 0px 0px 5px;
}

div.rgf-tree-tooltip .rgf-tooltip-data {
    min-width: 250px;
    padding: 0px 5px 0px 0px;
}
