<div style="width:fit-content">
    @GridTemplate(this)
</div>

@CreateColumnSettings()

<RgfDynamicDialog @ref="_dynamicDialog" />

@code {

    [Parameter, EditorRequired]
    public RgfEntityParameters EntityParameters { get; set; } = null!;

    [Parameter, EditorRequired]
    public ComponentBase GridComponent { get; set; } = null!;

    [Parameter, EditorRequired]
    public RenderFragment<RgfGridComponent> GridTemplate { get; set; } = null!;

    [Parameter, EditorRequired]
    public RenderFragment<RgfGridComponent> ColumnSettingsTemplate { get; set; } = null!;

    [Parameter]
    public RenderFragment<RgfGridColumnParameters> ColumnTemplate { get; set; } = (param) => @<RgfGridColumnComponent GridColumnParameters="@param" />;
}
