
<button @attributes="_attributes" @onclick="OnClick" @oncontextmenu="OnContextMenu" @oncontextmenu:preventDefault="@OnContextMenu.HasDelegate">
    @if (IconName != null)
    {
        <i class="@($"bi {IconName}")"></i>
    }
    @if (!string.IsNullOrEmpty(Label))
    {
        @Label
    }
    @if (ChildContent != null)
    {
        @ChildContent
    }
</button>

@inherits RgfBaseComponent
@code {

    [Parameter]
    public string? IconName { get; set; }

    [Parameter]
    public string? Button { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnContextMenu { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        _baseCssClass = "btn btn-sm";
        if (!AdditionalAttributes.ContainsKey("type"))
        {
            AdditionalAttributes["type"] = "button";
        }
        base.OnParametersSet();
    }
}