@using System.Globalization

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    @foreach (var toast in _toasts.OrderByDescending(t => t.TriggeredAt).ToArray())
    {
        if (toast.Delay < 0)
        {
            _toasts.Remove(toast);
            continue;
        }
        <div class="toast show @GetToastClass(toast.ToastType)" role="alert" aria-live="assertive" aria-atomic="true" style="min-width: 250px;">
            <div class="toast-header">
                <strong class="me-auto">@toast.MarkupHeader</strong>
                <small class="text-muted">@GetToastTime(toast)</small>
                <button type="button" class="btn-close" @onclick="() => RemoveToast(toast)" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @toast.MarkupBody
                @if (toast.ProgressArgs?.IsBackgroundTaskCompleted == false)
                {
                    <SpinnerComponent ContainerClass="d-inline ps-2" Style="width: 1rem; height: 1rem;" />
                }
            </div>
        </div>
    }
</div>

@inject IRgfEventNotificationService _notificationService
@inject IRecroSecService _recroSec
@inject IRecroDictService _recroDict
@implements IDisposable
@code {

    private List<RgfToastEventArgs> _toasts = new List<RgfToastEventArgs>();
    private IDisposable _toastManager = default!;

    protected override void OnInitialized()
    {
        var manager = _notificationService.GetNotificationManager(RgfToastEventArgs.NotificationManagerScope);
        _toastManager = manager.Subscribe<RgfToastEventArgs>(ShowToast);
    }

    private void ShowToast(IRgfEventArgs<RgfToastEventArgs> arg)
    {
        var toast = arg.Args;
        if (toast.Delay < 0)
        {
            _toasts.Remove(toast);
        }
        else
        {
            _toasts.Add(toast);
            if (toast.Delay > 0)
            {
                _ = InvokeAsync(async () =>
                {
                    await Task.Delay(Math.Max(1000, toast.Delay));
                    RemoveToast(toast);
                });
            }
        }
        StateHasChanged();
    }

    private void RemoveToast(RgfToastEventArgs toast)
    {
        _toasts.Remove(toast);
        StateHasChanged();
    }

    private string GetToastClass(RgfToastType toastType)
    {
        return toastType switch
        {
            RgfToastType.Info => "bg-info text-dark",
            RgfToastType.Warning => "bg-warning text-dark",
            RgfToastType.Error => "bg-danger text-white",
            RgfToastType.Success => "bg-success text-white",
            _ => "bg-light text-dark"
        };
    }

    private string GetToastTime(RgfToastEventArgs toast)
    {
        var culture = _recroSec.UserCultureInfo();
        return toast.Delay < 2000 && (DateTime.Now - toast.TriggeredAt).TotalSeconds < 1 ? _recroDict.GetRgfUiString("JustNow") : toast.TriggeredAt.ToString("t", culture);
    }

    public void Dispose()
    {
        _toastManager?.Dispose();
    }
}